@import 'mobile';
@import 'mixins/mixins';

body {
  font-family: 'Montserrat, sans-serif';
  @include fluid-text;
  color: var(--second-text-color);
  background-color: var(--light-background-color);
}
.wrapper {
min-width: 100%;
width: 100%;
height: auto;
 max-width: 1440px; 
min-height: 100%;
overflow-x: hidden;
 
   @include desktop-above {
     max-width: 1280px;
   }
 
   @include desktop {
     max-width: 960px;
   }
 
   @include tablet-above {
     max-width: 768px;
   }
 
   @include tablet {
     max-width: 640px;
   }
 
   @include mobile-above {
     max-width: 480px;
   }
 
   @include mobile {
     max-width: 320px;
   }
 }
 header.header {
   width: 100%;
   height: 100vh;
   max-height: 900px;
   background-image: url(../img/header/background.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: inherit;
   border: 2px solid blue;
   nav {
    width: 100%;
    height: 104px;
    margin-bottom: 23px;
    align-items: left;
    display: flex;
    gap: 96px;
    margin-top: 20px; 
    margin-left: 8%;
    @include tablet {
      gap: 30px;
    }
    @include mobile-above {
      gap: 25px!important;
      margin-top: 15px;
    }
    @include mobile-s {
      gap: 15px !important;
    }
   }
   .brand {
    width: 187px;
    height: 58px;
    @include mobile-s {
      width: 150px;
      height: 52px;
    }
   }
   .brand h3 {
color:var(--text-color);
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.1px;
text-align: left;

   }
   .links {
    width: 280px;
    height: 24px;
    @include flex-center;
    gap: 21px;
    margin-top: 5px;
    @include mobile-s {
      width: 185px !important;
      gap: 15px;
    }
   }
   .links a {
    color: var(--second-text-color);
 height: 24px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;
    transition: text-decoration 3ms ease;
    @include hover {
      text-decoration: 2px underline var(--hover-color);
    }
   }
  }
  .header--content {
    width: 509px;
    height: 418px;
    padding: 0;
    margin-top: 80px;
    margin-left: 38px;
    @include flex-center;
    flex-direction: column !important;
    &__title {
      width: 509px;
      height: 240px;
      flex-grow: 0;
      margin: 35px 0px;


    }
    &__title-text {
font-size: 58px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0.2px;
text-align: center;
  color: var(--text-color);

    }
    &__subtitle {
      width: 376px;
      height: 60px;
      
    }
    &__subtitle-paragraph {
      text-align: left;
      margin: 35px 0px;

    }
    &__btns {
      @include margin-bottom;
    }
    &__btns-item {
      @include rounded-btn;
      transition: border 0.3s ease;
      @include hover {
        border: 2px solid var(--hover-color);
      }
    }
  }
  .transparent-btn {
    background: none;
    border: 1px solid var(--secondary-color);
    color: var(--second-text-color);

  }
  .orange-btn {
    color: var(--light-text-color);
    background-color: var(--primary-color);
    border: none;

  }
  
 
 main.main {
   width: 100%;
  
 }
 footer.footer {
   width: 100%;
   bottom: 0;
   left: 0;
   position: fixed;
  
 }