.wrapper {
 width: 100%;
 max-width: 1440px;
 height: auto;
 min-height: 4674px;
 margin: 1rem;
 display: flex;
 flex-direction: column;
}
header.header {
   width: 100%;
   max-width: 1440px;
   height: 924px;

}
main.main {
   width: 100%;
   max-width: 1440px;
   height: auto;
   min-height: auto;
   display: flex;
   flex-direction: column;

}
footer.footer {
   display: flex;
   width: 100%;
   left: 0;
   bottom: 0;
   position: fixed;
}