$bp-large: 48rem;
$bp-mobile: 30rem;
$bp-small: 24.375rem;



@media  only screen and (max-width: $bp-large) {
  // Твои стили для брейкпоинта 768px
  .wrapper {
    max-width: 780px;
 }
}
@media  only  screen and (max-width: $bp-mobile) {
   // Твои стили для брейкпоинта 480px
   .wrapper {
    max-width: 500px;
 }
 }
 @media only  screen and (max-width: $bp-small) {
   // Твои стили для брейкпоинта 390px
   .wrapper {
    max-width: 400px;
    justify-content: center;
    align-items: center;
 }
    }