// root colors and properties here! 
:root {
    --text-color: #737373;
    --orange-color: #FF7B47;
    --green-color: #0D5C63;
    --titles-color: #252B42;
    --light-color: #FFFFFF;
    --hover-color: #335BF5;
}