 
:root {
   /* root */
--orange-color: rgb(255, 123, 71);

--green-color: #0D5C63;
--secondary-color-2: #17213C;
--text-color: #252B42;
--second-text-color: #737373;
--light-text-color: #FFFFFF;
--light-background-color: #FFFFFF;
--hover-color: #2A7CC7; 
}

