/*

\CSS rules to specify families

font-family: 'Montserrat', sans-serif;
*/
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body { 
  margin: 20px;
  background-color: white;
}
    
.header {
  display: inline-block;
}

.header H3 {
  margin-right: 70%;
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 1.2vw;
line-height: 32px;

/* identical to box height, or 133% */

letter-spacing: 0.1px;

/* text-color */

color: #252B42;

}
 #l {
text-decoration: none;
text-align: center;
padding-left: 5%;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.7vw;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.2px;
overflow: auto;

/* second-text-color */
color: #737373;
}
#l:hover {
  color: #0D5C63;
  cursor: pointer;
  text-decoration: underline;
}
.container {
  display: flex;
  height: 793px;
width: 1440px;
max-width: 100%;

border-radius: 0px;
background-image: url("bg.png");
background-repeat: no-repeat;
background-size:contain;

}
.title {
  height: 240px;
width: 509px;
  float: left;
  padding-top: 8%;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 2.9vw;
line-height: 80px;
/* or 138% */

letter-spacing: 0.2px;

/* text-color */

color: #252B42;
}
.subtitle {
  width: 376px;
  height: 60px;
  padding-top: 35px;
  margin-right: 3%;
  margin-left: 5%;
  /* h4 */
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 30px;
  /* or 150% */
  
  letter-spacing: 0.2px;
  
  /* second-text-color */
  
  color: #737373;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;

}
.buttons {
  padding-top: 2%;
}
#b1 {
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
width: 220px;
height: 48px;
max-width: 100%;
background: #FF7B47;
color: white;
border-style: none;
}
#b2 {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  width: 220px;
  height: 48px;
  max-width: 100%;
  color:#0D5C63;
  border: 2px solid #0D5C63;
  opacity: 0.5;
  }
.buttons :hover {
transform: scale(1.1);
Cursor: pointer; 
}
.container_boxes {
display:block;
margin-left:auto;
margin-right:auto;

}

  


