@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}

footer {
  display: block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

/* Типографика */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin-block: 0;
  --paragraphMarginBottom: 24px;
}
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Формы */
input, button, textarea {
  font-family: inherit;
}
input:clear, button:clear, textarea:clear {
  display: none;
}

button {
  all: initial;
}

/* Списки */
ul, ol {
  padding-left: 0;
}

ul[class] {
  list-style: none;
}

/* Дополнительные стили */
body,
blockquote,
figure:where([class]) {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl:where([class]) {
  margin-block: 0;
}

dd[class] {
  margin-left: 0;
}

fieldset[class] {
  margin-left: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --text-color: #737373;
  --orange-color: #FF7B47;
  --green-color: #0D5C63;
  --titles-color: #252B42;
  --light-color: #FFFFFF;
  --hover-color: #335BF5;
}

body, html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--light-color);
  line-height: 1.5;
  scroll-behavior: smooth;
}

p, a {
  font-size: clamp(px, 1.68vw, 20px);
  letter-spacing: 0.2px;
}

.content-wrapper {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
}
@media (max-width: 1440px) {
  .content-wrapper {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .content-wrapper {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .content-wrapper {
    max-width: 383px;
    padding: 5px;
  }
}

h2 {
  font-size: clamp(24.7px, 2.08vw, 40px);
  color: var(--titles-color);
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}

h1 {
  font-size: clamp(33.3px, 2.8vw, 54px);
  color: var(--titles-color);
  line-height: 49.4437577256px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: normal;
}

section {
  width: 100vw;
  max-width: auto;
  height: auto;
}

.utility-title {
  text-align: center;
  margin-bottom: 16px;
}

.utility-subtitle {
  text-align: center;
  margin-inline: 32px;
}

#people {
  list-style-image: url("../img/video/icons/icon-list--1.svg");
  margin-left: 32px;
}

#settings {
  list-style-image: url("../img/video/icons/icon-list--2.svg");
  margin-left: 32px;
}

.wrapper {
  width: min(100%, 100vw);
  overflow: auto;
  height: auto;
  min-height: 100%;
}
@media (max-width: 1440px) {
  .wrapper {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .wrapper {
    width: min(100%, 393px);
  }
}

.header {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  width: min(100%, 100vw);
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  background-image: url("../img/header/background/background--item.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
@media (max-width: 1440px) {
  .header {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .header {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .header {
    max-width: 383px;
    padding: 5px;
  }
}
@media (max-width: 1440px) {
  .header {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .header {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .header {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .header {
    width: min(100%, 393px);
  }
}
.header-navigation--utility {
  width: min(100%, 100vw);
  padding-inline: 24px;
  height: 52px;
  display: flex;
  gap: 110px;
  flex-direction: row;
}
@media (max-width: 1440px) {
  .header-navigation--utility {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .header-navigation--utility {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .header-navigation--utility {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .header-navigation--utility {
    width: min(100%, 393px);
  }
}
@media (max-width: 500px) {
  .header-navigation--utility {
    padding-inline: 14.8331273177px;
    gap: 18.5414091471px;
  }
}
@media (max-width: 393px) {
  .header-navigation--utility {
    gap: 11.1248454883px;
  }
}
.header-logo {
  width: 187px;
  height: 50px;
}
@media (max-width: 500px) {
  .header-logo {
    width: 115.5747836836px;
  }
}
.header-logo-item {
  font-size: 24px;
  letter-spacing: 0.1px;
  color: var(--titles-color);
  font-weight: bold;
}
.header-links {
  display: inline-flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 32px;
}
@media (max-width: 1440px) {
  .header-links {
    gap: 19.7775030902px;
  }
}
@media (max-width: 500px) {
  .header-links {
    gap: 9.8887515451px;
    margin-top: 7.4165636588px;
  }
}
@media (max-width: 393px) {
  .header-links {
    gap: 7.4165636588px;
  }
}
.header-links--item {
  height: 45px;
  max-height: 45px;
  width: auto;
  text-decoration: none;
  transition: 3s -webkit-text-decoration ease-out;
  transition: 3s text-decoration ease-out;
  transition: 3s text-decoration ease-out, 3s -webkit-text-decoration ease-out;
}
@media (hover: hover) {
  .header-links--item:hover {
    -webkit-text-decoration: underline 1.8px solid var(--hover-color);
            text-decoration: underline 1.8px solid var(--hover-color);
  }
}
@media (hover: none) {
  .header-links--item:active {
    -webkit-text-decoration: underline 1.8px solid var(--hover-color);
            text-decoration: underline 1.8px solid var(--hover-color);
  }
}
.header-text {
  margin-top: 100px;
  padding-inline: 24px;
}
@media (max-width: 1440px) {
  .header-text {
    margin-top: 25.9579728059px;
    padding-inline: 16px;
  }
}
@media (max-width: 768px) {
  .header-text {
    margin-top: 14.8331273177px;
    padding-inline: 8px;
  }
}
@media (max-width: 500px) {
  .header-text {
    margin-top: 9.8887515451px;
    padding-inline: 4px;
  }
}
@media (max-width: 393px) {
  .header-text {
    margin-top: 4.9443757726px;
    padding-inline: 2px;
  }
}
.header-titile {
  width: 100%;
  height: auto;
}
.header-title--item {
  margin-bottom: 24px;
  text-align: left;
}
@media (max-width: 768px) {
  .header-title--item {
    margin-bottom: 14.8331273177px;
  }
}
@media (max-width: 500px) {
  .header-title--item {
    margin-bottom: 9.8887515451px;
  }
}
@media (max-width: 393px) {
  .header-title--item {
    margin-left: 4.9443757726px;
  }
}
.header-subtitle {
  width: 100%;
}
.header-subtitle--item {
  margin-bottom: 24px;
  text-align: left;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .header-subtitle--item {
    margin-bottom: 14.8331273177px;
  }
}
@media (max-width: 500px) {
  .header-subtitle--item {
    margin-bottom: 9.8887515451px;
  }
}
@media (max-width: 393px) {
  .header-subtitle--item {
    margin-left: 4.9443757726px;
  }
}
.header-btn {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.header-btn--item {
  padding: 18px 5px;
  border-radius: 37px;
  text-align: center;
  border: none;
  width: 185px;
  height: 48px;
  transition: border 3ms ease-in;
}
@media (hover: hover) {
  .header-btn--item:hover {
    border: solid 1.618px var(--hover-color);
  }
}
@media (hover: none) {
  .header-btn--item:active {
    border: solid 1.618px var(--hover-color);
  }
}
.header .orange {
  color: var(--light-color);
  background-color: var(--orange-color);
}
.header .transparet {
  background-color: transparent;
  color: var(--green-color);
  border: 1px solid var(--green-color);
  transition: border 3ms ease-in;
}
@media (hover: hover) {
  .header .transparet:hover {
    border: solid 1.618px var(--hover-color);
  }
}
@media (hover: none) {
  .header .transparet:active {
    border: solid 1.618px var(--hover-color);
  }
}
.header-boxes {
  width: min(100%, 100vw);
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  height: 260px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: row;
}
@media (max-width: 1440px) {
  .header-boxes {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .header-boxes {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .header-boxes {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .header-boxes {
    width: min(100%, 393px);
  }
}
@media (max-width: 1440px) {
  .header-boxes {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .header-boxes {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .header-boxes {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .header-boxes {
    max-width: 383px;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .header-boxes {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.header-box {
  max-width: 328px;
  width: 33.3%;
  height: 255px;
  padding: 24px;
  background-color: var(--light-color);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 500px) {
  .header-box {
    height: 230px;
    width: 100vw;
    min-width: 100%;
  }
}

.box-picture {
  width: 100%;
  height: 65px;
}

.box-picture--item {
  width: 65px;
  height: 65px;
  margin-bottom: 8px;
  max-width: 100%;
}
@media (max-width: 500px) {
  .box-picture--item {
    margin-inline: auto;
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
  }
}

.box-title {
  width: 100%;
  height: auto;
  margin-inline: 12px;
}

.box-title--item {
  color: var(--titles-color);
  font-size: 24px;
  line-height: normal;
  margin-bottom: 8px;
  text-align: left;
}
@media (max-width: 500px) {
  .box-title--item {
    margin-bottom: 4px;
    text-align: center;
  }
}

.box-paragraph {
  width: 100%;
  height: auto;
}

.box-paragraph--item {
  text-align: left;
  height: auto;
  line-height: normal;
}
@media (max-width: 500px) {
  .box-paragraph--item {
    text-align: center;
  }
}

.green {
  background-color: var(--green-color);
}

.white {
  color: var(--light-color);
}

.main {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  width: 100%;
  height: auto;
}
@media (max-width: 1440px) {
  .main {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .main {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .main {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .main {
    max-width: 383px;
    padding: 5px;
  }
}

.footer {
  width: min(100%, 100vw);
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}
@media (max-width: 1440px) {
  .footer {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .footer {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .footer {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .footer {
    width: min(100%, 393px);
  }
}
@media (max-width: 1440px) {
  .footer {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .footer {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .footer {
    max-width: 383px;
    padding: 5px;
  }
}

.experience {
  width: 100%;
  height: auto;
  margin-top: 54px;
}
.experience-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12px;
}
.experience-text--title {
  text-align: center;
  margin-bottom: 16px;
}
.experience-text--subtitle {
  text-align: center;
  margin-inline: 32px;
}
.experience-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
.experience-box {
  padding: 4px;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-box img {
  max-width: 100%;
  margin-inline: auto;
  display: block;
  margin-bottom: 12px;
}
.experience-box h3 {
  font-weight: bold;
  color: var(--titles-color);
  text-align: center;
  font-size: 1.6rem;
}
.experience-box p {
  text-align: center;
  text-wrap: balance;
  width: 100%;
}

.advice {
  margin-top: 80px;
  width: min(100%, 100vw);
  height: auto;
  padding: 8px;
}
@media (max-width: 1440px) {
  .advice {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .advice {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .advice {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .advice {
    width: min(100%, 393px);
  }
}
.advice .advice-utility {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
  flex-direction: column;
}
.advice .advice-content {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  flex-direction: row;
  align-items: center;
  height: auto;
}
@media (max-width: 1440px) {
  .advice .advice-content {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .advice .advice-content {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .advice .advice-content {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .advice .advice-content {
    max-width: 383px;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .advice .advice-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.advice .advice-box {
  width: 240px;
  height: 321px;
}
@media (max-width: 768px) {
  .advice .advice-box {
    margin-bottom: 32px;
  }
}
.advice .advice-box h5 {
  text-align: left;
  color: var(--titles-color);
  font-weight: bold;
  font-size: 14px !important;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .advice .advice-box h5 {
    text-align: center;
  }
}
.advice .advice-box p {
  height: -moz-min-content;
  height: min-content;
  width: 164px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-bottom: 18px;
  text-wrap: balance;
}
@media (max-width: 768px) {
  .advice .advice-box p {
    text-align: center;
    margin-left: 2rem;
  }
}
.advice .advice-box img {
  width: 230px;
  height: 138px;
  max-width: 100%;
  margin-inline: auto;
  display: block;
}

.video {
  width: min(100%, 100vw);
  margin-top: 80px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .video {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .video {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .video {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .video {
    width: min(100%, 393px);
  }
}
.video-container {
  margin-top: 2.1rem;
  width: min(100%, 100vw);
  width: 100%;
  height: auto;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.1rem;
}
@media (max-width: 1440px) {
  .video-container {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .video-container {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .video-container {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .video-container {
    width: min(100%, 393px);
  }
}
@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
  }
}
.video-video {
  width: 35%;
  height: 442px;
  background-image: url("../img/video/video-cover--item.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .video-video {
    width: 100%;
    margin-bottom: 16px;
  }
}
.video-play {
  width: 100px;
  aspect-ratio: 1;
  background-color: var(--green-color);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-left: 35%;
  transition: border 3ms ease-in-out;
}
@media (hover: hover) {
  .video-play:hover {
    border: 6px solid var(--hover-color);
    opacity: 1.2;
  }
}
@media (hover: none) {
  .video-play:active {
    border: 6px solid var(--hover-color);
    opacity: 1.2;
  }
}
.video-play--item {
  max-width: 100%;
  width: 35px;
  height: 35px;
}
.video-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.video-header {
  padding: 12px;
}
.video-header--title {
  margin-bottom: 12px;
}
.video-header--paragraph {
  margin-bottom: 12px;
  padding: 4px;
}
.video-list {
  display: flex;
  flex-direction: column;
}
.video-list--item {
  font-weight: bold;
  letter-spacing: 0.1px;
  color: var(--titles-color);
  margin-bottom: 12px;
}

.featured {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  height: auto;
  margin-top: 80px;
}
@media (max-width: 1440px) {
  .featured {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .featured {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .featured {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .featured {
    max-width: 383px;
    padding: 5px;
  }
}
.featured-content {
  width: min(100%, 100vw);
  height: 175;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 8px;
}
@media (max-width: 1440px) {
  .featured-content {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .featured-content {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .featured-content {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .featured-content {
    width: min(100%, 393px);
  }
}
@media (max-width: 500px) {
  .featured-content {
    gap: 1.2rem;
  }
}
.featured-content--item {
  max-width: 100%;
  width: 153px;
  height: 54px;
}
@media (max-width: 768px) {
  .featured-content--item {
    width: 94.5611866502px;
  }
}
@media (max-width: 500px) {
  .featured-content--item {
    width: 45px;
    aspect-ratio: 1;
  }
}

.touch {
  width: min(100%, 100vw);
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (max-width: 1440px) {
  .touch {
    width: min(100%, 1440px);
  }
}
@media (max-width: 768px) {
  .touch {
    width: min(100%, 768px);
  }
}
@media (max-width: 500px) {
  .touch {
    width: min(100%, 500px);
  }
}
@media (max-width: 393px) {
  .touch {
    width: min(100%, 393px);
  }
}
.touch-header {
  margin-bottom: 2rem;
}
.touch-content {
  width: 100%;
  max-width: 1856px;
  padding: 32px;
  height: auto;
  display: flex;
  justify-content: row;
  gap: 35%;
}
@media (max-width: 1440px) {
  .touch-content {
    max-width: 1400.6px;
    padding: 19.7px;
  }
}
@media (max-width: 768px) {
  .touch-content {
    max-width: 742px;
    padding: 13px;
  }
}
@media (max-width: 500px) {
  .touch-content {
    max-width: 484px;
    padding: 8px;
  }
}
@media (max-width: 393px) {
  .touch-content {
    max-width: 383px;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .touch-content {
    gap: 12px;
  }
}
.touch-content--container {
  display: flex;
  flex-direction: column;
}
.touch-content--title {
  margin-bottom: 32px;
  text-align: left;
  text-wrap: balance;
}
.touch-content--subtitle {
  width: 100%;
  height: 24px;
  text-align: left;
  text-wrap: nowrap;
}
.touch-button {
  float: right;
  display: flex;
  justify-content: flex-end;
}
.touch-button--item {
  width: 160px;
  height: 58px;
  padding: 40px 15px;
  text-align: center;
  border-radius: 5%;
  background-color: var(--orange-color);
  color: var(--light-color);
}
@media (max-width: 500px) {
  .touch-button--item {
    width: 100px;
    padding: 12px 6px;
    height: 45px;
    text-wrap: nowrap;
  }
}
@media (hover: hover) {
  .touch-button--item:hover {
    background-color: var(--hover-color);
  }
}
@media (hover: none) {
  .touch-button--item:active {
    background-color: var(--hover-color);
  }
}/*# sourceMappingURL=style.css.map */