@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* root */
  --primary-color: rgb(255, 123, 71);
  --secondary-color: #0D5C63;
  --secondary-color-2: #17213C;
  --text-color: #252B42;
  --second-text-color: #737373;
  --light-text-color: #FFFFFF;
  --light-background-color: #FFFFFF;
  --hover-color: #2A7CC7;
}

/* Общие стили */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

/* Типографика */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin-block: 0;
  --paragraphMarginBottom: 24px;
}
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Формы */
input, button, textarea {
  font-family: inherit;
}
input:clear, button:clear, textarea:clear {
  display: none;
}

button {
  cursor: pointer;
}
button:focus-inner {
  padding: 0;
  border: 0;
}

/* Списки */
ul, ol {
  padding-left: 0;
}

ul[class] {
  list-style: none;
}

/* Дополнительные стили */
body,
blockquote,
figure:where([class]) {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl:where([class]) {
  margin-block: 0;
}

dd[class] {
  margin-left: 0;
}

fieldset[class] {
  margin-left: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat, sans-serif";
  font-size: clamp(14px, 1.1111111111vw, 16px);
  color: var(--second-text-color);
  background-color: var(--light-background-color);
}

.wrapper {
  min-width: 100%;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-height: 100%;
  overflow-x: hidden;
}
@media (min-width: 1281px) {
  .wrapper {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 480px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 320px;
  }
}

header.header {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-image: url(../img/header/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: inherit;
  border: 2px solid blue;
}
header.header nav {
  width: 100%;
  height: 104px;
  margin-bottom: 23px;
  align-items: left;
  display: flex;
  gap: 96px;
  margin-top: 20px;
  margin-left: 8%;
}
@media (max-width: 1023px) {
  header.header nav {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  header.header nav {
    gap: 25px !important;
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  header.header nav {
    gap: 15px !important;
  }
}
header.header .brand {
  width: 187px;
  height: 58px;
}
@media (max-width: 480px) {
  header.header .brand {
    width: 150px;
    height: 52px;
  }
}
header.header .brand h3 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
}
header.header .links {
  width: 280px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 21px;
  margin-top: 5px;
}
@media (max-width: 480px) {
  header.header .links {
    width: 185px !important;
    gap: 15px;
  }
}
header.header .links a {
  color: var(--second-text-color);
  height: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  transition: -webkit-text-decoration 3ms ease;
  transition: text-decoration 3ms ease;
  transition: text-decoration 3ms ease, -webkit-text-decoration 3ms ease;
}
@media (hover: hover) {
  header.header .links a:hover {
    -webkit-text-decoration: 2px underline var(--hover-color);
            text-decoration: 2px underline var(--hover-color);
  }
}
@media (hover: none) {
  header.header .links a:active {
    -webkit-text-decoration: 2px underline var(--hover-color);
            text-decoration: 2px underline var(--hover-color);
  }
}

.header--content {
  width: 509px;
  height: 418px;
  padding: 0;
  margin-top: 80px;
  margin-left: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column !important;
}
.header--content__title {
  width: 509px;
  height: 240px;
  flex-grow: 0;
  margin: 35px 0px;
}
.header--content__title-text {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--text-color);
}
.header--content__subtitle {
  width: 376px;
  height: 60px;
}
.header--content__subtitle-paragraph {
  text-align: left;
  margin: 35px 0px;
}
.header--content__btns {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.header--content__btns-item {
  border-radius: 37px;
  width: 187px;
  height: 48px;
  align-items: center;
  padding: 10px 36px 10px 36px;
  margin: 0px 10px;
  font-size: 14px;
  transition: border 0.3s ease;
}
@media (hover: hover) {
  .header--content__btns-item:hover {
    border: 2px solid var(--hover-color);
  }
}
@media (hover: none) {
  .header--content__btns-item:active {
    border: 2px solid var(--hover-color);
  }
}

.transparent-btn {
  background: none;
  border: 1px solid var(--secondary-color);
  color: var(--second-text-color);
}

.orange-btn {
  color: var(--light-text-color);
  background-color: var(--primary-color);
  border: none;
}

main.main {
  width: 100%;
}

footer.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}/*# sourceMappingURL=style.css.map */