// пример миксина под резиновый текст:
@mixin fluid-text {
   font-size: clamp(px, 1.68vw, 20px);
   
   letter-spacing: 0.2px;
}
@mixin fluid-h1 {
   font-size: clamp(33.3px, 2.8vw, 54px);
   color: var(--titles-color);
   line-height: calc(80px / $constant);
   font-weight: 800;
   letter-spacing: 0.2px;
   line-height: normal;
}
@mixin fluid-title {
   font-size: clamp(24.7px, 2.08vw,40px);
   color: var(--titles-color);
   line-height: normal;
   font-weight: 700;
   letter-spacing: 0.2px;
   text-align: center;
}
// миксин резинового блока: 
@mixin responsive-block {
   width: min(100%, 100vw);
@include laptop {
   width: min(100%, $laptop);
}
@include tablet {
   width: min(100%, $tablet);
}
@include mobile {
   width: min(100%, $mobile);
}
@include mobile-s {
   width: min(100%, $mobile-s);
}
}
@mixin content-container {
   width: 100%;
   max-width: calc(1920px - 32px * 2);
   padding: 32px;
   @include laptop {
      max-width: calc($laptop - 19.7px * 2);
      padding: 19.7px
   }
   @include tablet {
      max-width: calc($tablet - 13px * 2);
      padding: 13px;
   }
   @include mobile {
      max-width: calc($mobile - 8px * 2);
      padding: 8px;
   }
   @include mobile-s {
      max-width: calc($mobile-s - 5px * 2);
      padding: 5px;
   }
}