@mixin fluid-text($max:1.2, $min:1) {
   font-size: clamp(#{$min}rem, #{$max / 1440 * 100}vw, #{$max}rem);
   color: var(--second-text-color);
   font-weight: 700;
   line-height: 20px;
   @include mobile-s {
      line-height: 18px;
   }
}
@mixin fluid-h1 ($max:58, $min:24){
   font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
   color: var(--text-color);
   font-weight: 800;
   line-height: 80px;
   letter-spacing: 0.2px;
   text-align: left;
   @include tablet {
      line-height: 45px;
   }
   @include mobile-s {
      line-height: 32px;
   }
}
@mixin fluid-title($max: 40, $min: 24) {
font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
font-weight: 700;
line-height: 57px;
letter-spacing: 0.2px;
text-align: left;
color: var(--text-color);
@include tablet {
   font-weight: 700;
   line-height: 32px;
   letter-spacing: 0.1px;
}

}
@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
@mixin flex-start {
   justify-content: flex-start;
   align-items: center;
}
@mixin button {
width: 157px;
height: 48px;
align-items: center;
text-align: center;
padding: 10px 36px 10px 36px;
margin: 0px 10px;
border-radius: 37px;
font-size: 14px;
white-space: nowrap;
@include tablet {
   padding: 8px 20px;
   margin: 0px 5px;
   width: 120px;
   height: 40px;
}
@include mobile {
   padding: 2.2px 8px;
   margin: 0px 2.5px;
   width: 100px;
   height: 28px;
}
}
@mixin button-square {
   transition: backround-color 3ms ease;
   margin-top: 30px;
   width:117px;
   height: 58px;
   padding: 15px 22px;
   text-align: center;
   border-radius: 0px 5px;
   @include fluid-text;
   @include hover {
      background-color: var(--hover-color);

   } 
   @include tablet {
      width: 100px;
      height: 52px;
      padding: 10px 14px;
      
   }
}
@mixin responsive-block {
   width: 100%;
   max-width: 1440px;
   @include laptop {
      max-width: $laptop;
   }
   @include tablet {
      max-width: $tablet;
   }
   @include mobile {
      max-width: $mobile;
   }
   @include mobile-s {
      max-width: $mobile-s;
   }
}
