.advice {
    margin-top: 80px;
    @include responsive-block;
   height: auto;
    padding: 8px; 

.advice-utility {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px;
    flex-direction: column;
}



.advice-content {
    @include content-container;
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    flex-direction: row;
    align-items: center;
    height: auto;
    @include tablet{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.advice-box {
    width: 240px;
    height: 321px;
    @include tablet {
        margin-bottom: 32px;
    }
    h5 { 
        text-align: left;
        color: var(--titles-color);
        font-weight: bold;
        font-size: 14px !important;
        margin-bottom: 8px;
        @include tablet {
            text-align: center;
        }

    }
    p {
        height: min-content;
        width: 164px;
        letter-spacing: 0.2px;
        text-align: left;
        margin-bottom: 18px;
        text-wrap: balance;
        @include tablet {
            text-align: center;
            
            margin-left: 2rem;
        }

    }
    img {
        width: 230px;
        height: 138px;
        max-width: 100%;
        margin-inline: auto;
        display: block;
    
    }

}
}