body,html {
height: auto;
min-height: 100%;
font-size: 16px;
font-family: "Montserrat", sans-serif;
font-style: normal;
color: var(--text-color);
background-color: var(--light-color);
line-height: 1.5;
scroll-behavior: smooth;

}
p, a {
    @include fluid-text;
 
}
.content-wrapper {
    @include content-container;
}
h2 {
    @include fluid-title;
}
h1 {
    @include fluid-h1;
}
section {
    width: 100vw;
    max-width: auto;
    height: auto;
}
.utility-title {
    text-align: center;
    margin-bottom: 16px;
}
.utility-subtitle {
    text-align: center;
    margin-inline: 32px;

}