.experience {
    width: 100%;
    height: auto;
    margin-top: 54px;

&-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;

}
&-text--title {
    text-align: center;
    margin-bottom: 16px;
}
&-text--subtitle {
    text-align: center;
   margin-inline: 32px;
}
&-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}
&-box {
 padding: 4px;
 width: 20%;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
    img {
        max-width: 100%;
        margin-inline: auto;
        display: block;
        margin-bottom: 12px;

    }
    h3 {
        font-weight: bold;
        color: var(--titles-color);
        text-align: center;
        font-size: 1.6rem;

    }
    p {
        text-align: center;
        text-wrap: balance;
        width: 100%;

    }
} }