.featured {
    @include content-container;
    height: auto;
    margin-top: 80px;
    

&-content {
    @include responsive-block;
    height: 175;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-inline: 8px;
    @include mobile {
        gap: 1.2rem;
    }

}
&-content--item {
    max-width: 100%;
    width: 153px;
    height: 54px;
    @include tablet {
        width: calc(153px / $constant);
    }
    @include mobile {
        width: 45px;
        aspect-ratio: 1;
    }
}

}