.header {
    background: var(--background);
    height: 104px;
    max-width: 1322px;
    margin-bottom: 35px;
    z-index: 2;
    position: absolute;
    padding: 40px;
 
    .menu {
        display: flex;
            justify-content: flex-start;
            align-items: center;
            align-items: center;
            flex-flow: row nowrap;
            height: inherit;
            max-width: 98vw;
        
		// .menu__logo

		&__logo {
            color: #252B42;
            font-weight: bold;
            letter-spacing: 0.1px;
            line-height: calc(32 / 24 * 100%);
            font-size: 24px;
		}

		


		// .menu__links

		&__links {
            margin-left: 126px;
            display: flex;
            flex-flow: row wrap;
            max-width: 280px;
            justify-content: center;
            align-items: center;
            gap: 24px;
            overflow: hidden;
            @include mobile {
                margin-left: calc(126px / 1.618);
                gap: 10px;
            }
		}

		// .menu__links--item

		&__links--item {
            font-size: 14px;
            font-weight: bold;
            line-height: calc(24 / 14 * 100%);
            letter-spacing: 0.2px;
            text-align: center;
            transition: all 200ms ease;
            @include hover {
                color: var(--orange-accent);
            }
		}
}
}


 

