header.header {
   width: 100%;
   height: 100vh;
   background-image: url("https://raw.githubusercontent.com/mykolamieshkov-web/Relvise/main/img/header/background.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   @include tablet {
      height: 793px;
      max-width: 100%;
      background-size: contain;
      background-position: top;
   }
}