.video {
    @include responsive-block;
    margin-top: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


&-container {
    margin-top: 2.1rem;
    @include responsive-block;
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.1rem;
    @include tablet {
        flex-direction: column;
    }
   

}
&-video {
    width: 35%;
    height: 442px;
    background-image: url("../img/video/video-cover--item.png");
    background-repeat: no-repeat;
    @include tablet {
        width: 100%;
        margin-bottom: 16px;
    }

}
&-play {
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--green-color);
    border:none;
    border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-left: 35%;
  transition: border 3ms ease-in-out;
  @include hover {
    border: 6px solid var(--hover-color);
    opacity: 1.2;
  }


}
&-play--item {
    max-width: 100%;
    width: 35px;
    height: 35px;

}
&-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
&-header {
padding: 12px;
}
&-header--title {
    margin-bottom: 12px;
    

}
&-header--paragraph {
    margin-bottom: 12px;
    padding: 4px;

}
&-list {
    display: flex;
    flex-direction: column;

}

&-list--item {
font-weight: bold;
letter-spacing: 0.1px;
color: var(--titles-color);
margin-bottom: 12px;

}
}