
.wrapper {
   /* Общие стили */
   max-width:100%;
   width: 100%;
   height: auto;
   min-height: 100%;
   overflow-x: hidden;
  
   @include laptop {
    max-width: 1220px;
   }
   @include tablet {
     max-width: 780px;
   }
   @include mobile {
    max-width: 500px;
   }

 
   @include mobile-s {
     max-width: 390px;
   }
 }